%body.cart-bg(ng-controller="CartCtrl")
  .container-fluid
    .col-xs-12

      .button-group.pull-left.arrow-buttons-left
        %button.btn(ng-click="clean_cart()" ng-if="full_flag" ng-hide="empty_flag")  
          Очистить 
          %i.fa.fa-book.fa-2x
      .button-group.pull-right.arrow-buttons-right
       
          
        
        %button.btn-sky.btn(ng-hide="empty_flag" ng-if="full_flag" ng-click="power_off()")
          %i.fa.fa-power-off.fa-2x
        
        %a.btn.btn-sky(href=index_path )
          %i.fa.fa-dashboard.fa-2x
     
        

        %button.btn-sky.btn.sort(ng-click="subTab()") 
          %i.fa.fa-arrow-left.fa-2x
        %button.btn-sky.btn(ng-click="addTab()")
          %i.fa.fa-arrow-right.fa-2x
      
    .col-md-12
      .row
        .container-main(ng-hide="power_flag" )
          .view.view-tenth.post.anima.square( ng-repeat="post in p" )

            %figure(ng-class="is_asset(post.asset.url)")
              %img(ng-if="post.asset.url" src="{{post.asset.url }}")       

              %figcaption.mask
                %h4.base-class(ng-bind-html="post.title")
                  
                %p(ng-bind-html="post.title")
                %p

                %a.info(ng-click="clicked('run')" href="/posts/{{post.id}}")
                  %i.fa.fa-arrow-up.fa-2x
                
                %a.destroy(href="#" ng-click="delete_post(post.id, $index)"   data-toggle="tooltip" data-placement="bottom" title="Удалить из читаемого")
                  %i.fa.fa-close.fa-2x

