

.intro-body {
    background-color: teal;
}


.bg {
  background: asset-url("bg/ground.png") no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  overflow: hidden;
  }

.cloud {
  
  position: absolute;
  
  
  }

.x1 {
   top: 7%;
   left: 2%;
  -webkit-animation: moveclouds 40s linear infinite;
  -moz-animation: moveclouds 40s linear infinite;
  -o-animation: moveclouds 40s linear infinite;
}
.x2 {
  top: 19%;
  left: 17%;
  -webkit-animation: moveclouds 150s linear infinite;
  -moz-animation: moveclouds 150s linear infinite;
  -o-animation: moveclouds 150s linear infinite;
}

.x3 {
  top: 35%;
  left: 5%;
  -webkit-animation: moveclouds 95s linear infinite;
  -moz-animation: moveclouds 95s linear infinite;
  -o-animation: moveclouds 95s linear infinite;
}

.x4 {
  top: 29%;
  
  -webkit-animation: moveclouds 85s linear infinite;
  -moz-animation: moveclouds 85s linear infinite;
  -o-animation: moveclouds 85s linear infinite;
}

  @-webkit-keyframes moveclouds {
	0% {margin-left: 1000px;}
	100% {margin-left: -1000px;}
          }
  @-moz-keyframes moveclouds {
	0% {margin-left: 1000px;}
	100% {margin-left: -1000px;}
          }
  @-o-keyframes moveclouds {
	0% {margin-left: 1000px;}
	100% {margin-left: -1000px;}
          }
