
@import "bootstrap-sprockets";
@import "bootstrap";

.intro-body {
    background-color: teal;
}

/* cloud animation */
.bg {
  background: asset-url("bg/ground.png") no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  overflow-x: hidden;
  font-family: "Bender";
  
  }

.cloud {
  
  position: absolute;
  
  
  }

.x1 {
   top: 7%;
   left: 2%;
  -webkit-animation: moveclouds 105s linear infinite;
  -moz-animation: moveclouds 105s linear infinite;
  -o-animation: moveclouds 105s linear infinite;
}
.x2 {
  top: 19%;
  left: 17%;
  -webkit-animation: moveclouds 150s linear infinite;
  -moz-animation: moveclouds 150s linear infinite;
  -o-animation: moveclouds 150s linear infinite;
}

.x3 {
  top: 35%;
  left: 5%;
  -webkit-animation: moveclouds 89s linear infinite;
  -moz-animation: moveclouds 89s linear infinite;
  -o-animation: moveclouds 89s linear infinite;
}

.x4 {
  top: 29%;
  
  -webkit-animation: moveclouds 85s linear infinite;
  -moz-animation: moveclouds 85s linear infinite;
  -o-animation: moveclouds 85s linear infinite;
}

.x5 {
  left: 70%;
  
  -webkit-animation: moveclouds 185s linear infinite;
  -moz-animation: moveclouds 185s linear infinite;
  -o-animation: moveclouds 185s linear infinite;
}
.x6 {
  top: 14%;
  left: 50%;
  -webkit-animation: moveclouds 95s linear infinite;
  -moz-animation: moveclouds 95s linear infinite;
  -o-animation: moveclouds 95s linear infinite;
}

  @-webkit-keyframes moveclouds {
	0% {margin-left: 1000px;}
	100% {margin-left: -1000px;}
          }
  @-moz-keyframes moveclouds {
	0% {margin-left: 1000px;}
	100% {margin-left: -1000px;}
          }
  @-o-keyframes moveclouds {
	0% {margin-left: 1000px;}
	100% {margin-left: -1000px;}
          }


/* grid system */
.container-fluid{
    height:100vh;
    
}
#Container{
    margin-top: 15%;
    
    height: 60%;
    border: 1px red solid;
}

#Container .mix{
	display: none;
	position: relative;
        border: 2px yellowgreen dashed;
	width: 30%;
	height: 43%;
	margin: 2% 1.5%;
	overflow: hidden;
	z-index: 3;
	opacity: 1;
	&:hover {
	    opacity: 1;
	}
	
	
}

#Container img  {
    height: auto;
}

.mix {
    p{
	color: white;
	position: absolute;
	width: 80%;
        font-size: 16px;
	font-weight: bold;
    }
}



#Container.list .mix{
  width: 100%;
  height: auto;
  img {
    width: 50%;
    height: auto;
    }
  &:hover {
    background: white;
    }
}

#Container.list .mix:before{
  padding-top: 40px;
}


@media all and (max-device-width: 580px){
  #Container .mix,
  .container .gap{
    width: 85%;
  }
}

@media all and (max-width: 768px){
  #Container .mix,
  .container .gap{
    width: 45%;
  }
}

@media all and (max-width: 650px){
   #Container .mix,
  .container .gap {
    width: 90%;
  }
}


