$greenlime: rgb(168, 190, 124);
$carrot: rgb(229, 125, 51);
//$nav-link-hover-bg: teal;
$nav-link-hover-bg:  $greenlime;
//$nav-disabled-link-hover-color: red;
$navbar-default-link-color: red;
$link-color: white;

 
