<div class='pop-window pop-animate ng-hide' id='pop-id' ng-cloak ng-hide='flag'>
  <form class='col-md-3 center-block' enctype='multipart/form-data' method='PATCH' name='pop_form' ng-cloak ng-submit='pop_form.$valid' novalidate>
    <label class='btn' for='photo' id='pop-label' style='color: yellowgreen; background-color: white'>
      <i class='fa fa-download fa-2x'></i>
      ЗАГРУЗИТЬ
    </label>
    <input id='photo' name='photo.asset' ng-model='photo.asset' style='opacity: 0' type='file'>
    <button class='btn btn-sunny center-block' ng-click='x()' type='button'>
      Добавить
    </button>
  </form>
</div>
