

.col-xs-10.col-xs-offset-1
  .col-xs-8
    %form
      .form-group
        %label{:for => "exampleInputName"} Name
        %input#exampleInputEmail1.form-control{:placeholder => "Enter name", :type => "string"}
      .form-group
        %label{:for => "exampleInputText"} Text
        %textarea#exampleInputText.form-control{:placeholder => "Enter text", :type => "text"}
      .form-group
        %label{:for => "exampleInputPassword1"} Password
        %input#exampleInputPassword1.form-control{:placeholder => "Password", :type => "password"}
      %button.btn.btn-default{:type => "submit"} Submit
