
@import url(//fonts.googleapis.com/css?family=Roboto&subset=latin,cyrillic);
@import url(//fonts.googleapis.com/css?family=Philosopher&subset=latin,cyrillic);

@import url(//fonts.googleapis.com/css?family=Oswald);

$font-size-base: 16px;
$font-family-sans-serif: 'Philosopher', sans-serif;

$border-gray: 35px solid gray;
$size: 480px;


$thumbnail-padding: 10px;


/* colors */

$pink-color: #f1f;

$btn-info-bg: $pink-color;

$yellowgreen: yellowgreen;
