
.col-md-8.col-md-offset-2
  %form.form-horizontal.author-form{:role => "form", :novalidate=>true, :name => "form", "ng-submit" => "form.$valid && update(author)"}
    
    .form-group
      .col-md-5
        %img.img-thumbnail{:alt => "140x140", :src => "{{author.asset.url}}"}/
      .col-md-4
        %label.btn(for='asset' style="color: yellowgreen; background-color: white")
         
          %i.fa.fa-download.fa-2x
          ЗАГРУЗИТЬ
         

        %input#asset{  'ng-model' => 'author.asset','name' => 'asset','type' => 'file', 'style' => "visibility: hidden" }
       
          
        
    .form-group
      %label.col-sm-2.control-label{:for => "inputLogin"} Логин
      .col-sm-10
        %input#inputLogin.form-control(placeholder="Для входа" ng-model="author.login" ng-minlength="4" ng-maxlength="12" required name="login")
        
        .alert-success.alert( ng-show="form.login.$dirty && form.login.$error.minlength")
          %p.bg-success 
            Слишком короткий
        .alert.alert-success( ng-show="form.login.$dirty && form.login.$error.maxlength")
          Слишком длинный
        .alert.alert-success( ng-show="form.login.$dirty && form.login.$error.required")
          Нужно ввести

    .form-group
      %label.col-sm-2.control-label{:for => "inputName"} Имя
      .col-sm-10
        %input#inputName.form-control(placeholder="Будет на сайте"type="login" ng-model="author.name" required name="name"  ng-minlength="4"  ng-maxlength="24")
        .alert-success.alert( ng-show="form.name.$dirty && form.name.$error.minlength")
          %p.bg-success 
            Слишком короткое
        .alert.alert-success( ng-show="form.name.$dirty && form.name.$error.maxlength")
          Слишком длинное
        .alert.alert-success( ng-show="form.name.$dirty && form.name.$error.required")
          Нужно ввести

    .form-group
      %label.col-sm-2.control-label{:for => "inputBio"} Bio
      .col-sm-10
        %textarea#inputBio.form-control(placeholder="Bio" type="text" rows="3" ng-model="author.bio" required name="bio" ng-minlength="6" ng-maxlength="140")
        .alert-success.alert( ng-show="form.bio.$dirty && form.bio.$error.minlength")
          %p.bg-success 
            Слишком короткое
        .alert.alert-success( ng-show="form.bio.$dirty && form.bio.$error.maxlength")
          Слишком длинное
        .alert.alert-success( ng-show="form.bio.$dirty && form.bio.$error.required")
          Нужно ввести

      
    //password
    .form-group
      %label.col-sm-2.control-label{:for => "inputPassword"} Password
      .col-sm-10
        %input#inputPassword.form-control(ng-model="author.password" required name="password" placeholder="Password" ng-minlength="6" type="password")

        .alert-success.alert( ng-show="form.password.$dirty && form.password.$error.minlength")
          %p.bg-success 
            Слишком короткий
        
        .alert.alert-success( ng-show="form.password.$dirty && form.password.$error.required")
          Нужно ввести
    //password-confirmation
    .form-group
      %label.col-sm-2.control-label{:for => "inputPassword2"} Password2
      .col-sm-10
        %input#inputPassword2.form-control(ng-model="author.password_confirmation" required name="password_confirmation" placeholder="Password" ng-minlength="6" type="password")
        .alert-success.alert( ng-show="form.password_confirmation.$dirty && form.password_confirmation.$error.minlength")
          %p.bg-success 
            Слишком короткий
        
        .alert.alert-success( ng-show="form.password.$dirty && form.password.$error.required")
          Нужно ввести
        .alert.alert-danger( ng-show="(form.password.$dirty && form.password_confirmation.$dirty) && (author.password != author.password_confirmation) && !form.password_confirmation.$error.minlength")
          Не совпадают
        
    
    .form-group
      .col-sm-offset-2.col-sm-10
        %button.btn.btn-sunny{:type => "submit", "ng-disabled"=>"form.$invalid"} Sign in
        
