




.row.vertical-offset-100.cloud
  
  .col-md-4.col-md-offset-4.col-xs-6.col-xs-offset-3
    .panel.panel-default
      .panel-heading
        .row-fluid.user-row
          %img.img-responsive{:alt => "Conxole Admin", :src => "http://s11.postimg.org/7kzgji28v/logo_sm_2_mr_1.png"}/
      .panel-body
        %form.form-signin{"accept-charset" => "UTF-8", :role => "form", "ng-submit" => "form.$valid && login(user)", :novalidate => true, :name => "form"}
          %fieldset
            %label.panel-login
              .login_result.bg-success{"ng-cloak" => true, "ng-show" => "showMessage()"}
              %p.error-message.bg-success
                {{message}}
            %input#username.form-control{'ng-class'=>"{true: 'has-success'}[form.login.$valid]",:placeholder => "Username", :type => "text", "ng-model"=>'user.login',"ng-minlength" =>"5",'required'=>true, 'name'=>'login'}
            %input#password.form-control{'ng-class'=>"{true: 'has-success'}[form.login.$valid]", :placeholder => "Password", :type => "password",  "ng-model"=>'user.password',"ng-minlength" =>"5",'required'=>true, 'name'=>'password'}
            %br
            %button.btn.btn-sunny.text-uppercase.btn-lg{:type => "submit", "ng-disabled"=>"form.$invalid" } LOGIN
