
.pop-window#pop-id.pop-animate.ng-hide(ng-hide="flag" ng-cloak)
  %form.col-md-10.center-block{"ng-submit" => "pop_form.$valid", :novalidate => true, :name => "pop_form", 'enctype'=>'multipart/form-data', "method" => "PATCH", "ng-cloak" => true}
    %label#pop-label(for='photo' style="color: green; background-color: WhiteSmoke")
      .col-md-3.glyphicon.glyphicon-cloud-download 
        Загрузить
    %input#photo{  'ng-model' => 'photo.asset','name' => 'photo.asset','type' => 'file','style' => "opacity: 0"}
    %button.btn.center-block( type='button' ng-click='x()')
      Добавить

