.row
  .col-md-12
    %form#form.form-input.col-md-11{"ng-submit" => "form.$valid && update()", :novalidate => true, :name => "form", 'enctype'=>'multipart/form-data', "method" => "PATCH"}
      
      
      //%button(ng-click='showPopover()' type='button')
      
      %h2#title.editable.all-posts.center-block(style="text-align:center" ng-bind-html="post.title"  )
        {{post.title}}
      %hr
          
      %label.btn(for='asset' style="color: yellowgreen; background-color: white")
        //.col-md-3.glyphicon.glyphicon-cloud-download
        %i.fa.fa-download.fa-2x
        ЗАГРУЗИТЬ
         

      %input#asset{  'ng-model' => 'post.asset','name' => 'post.asset','type' => 'file', 'style' => "visibility: hidden" }

      .image
        %img.img-thumbnail.image-800(ng-src="{{post.asset.url}}" ng-show="asset_url")
      #text.text.col-xs-10.editable(ng-bind-html='t()' placeholder='Набирай текст')
        {{post.text}}
        
         
      .col-xs-10
        %textarea.form-control.margin-bottom(ng-model="post.description" required rows="3" placeholder="Краткое описание для поисковиков. Типа, 'этот пост о хлебе. из него вы узнаете что такое хлеб и как его есть'. И в таком духе. Парочка предложений " name="description" ng-minlength='6' ng-maxlength='140')
        .alert-success.alert( ng-show="form.description.$dirty && form.description.$error.minlength")
          %p.bg-success 
            Слишком коротко
        .alert-success.alert( ng-show="form.description.$dirty && form.description.$error.maxlength")
          %p.bg-success 
            Слишком много

        .alert.alert-success( ng-show="form.description.$dirty && form.description.$error.required")
          Нужно ввести
        %textarea.form-control.margin-bottom(ng-model="post.keywords" required rows="3" placeholder="Ключевые слова для поисковиков. Через запятую. Например, 'sex, drugs, rock-n-roll'. Не больше 7-10" name="keywords" ng-minlength='6' ng-maxlength='140')
        .alert-success.alert( ng-show="form.keywords.$dirty && form.keywords.$error.minlength")
          %p.bg-success 
            Слишком коротко
        .alert-success.alert( ng-show="form.keywords.$dirty && form.keywords.$error.maxlength")
          %p.bg-success 
            Слишком много

        .alert.alert-success( ng-show="form.keywords.$dirty && form.keywords.$error.required")
          Нужно ввести




        %button.btn.btn-sunny{:type => "submit", "ng-disabled"=>"input_check || form.$invalid" }
          %i.fa.fa-floppy-o.fa-2x
          //%span.glyphicon.glyphicon-floppy-saved
          SAVE 

    

      %button#formedium(ng-click='showPopover()')
      %pop-window
