%nav-bar
.row
  %section#wrapper(ng-class="{'toggled':sTab === true}")
    %section-bar
    #page-content-wrapper
      .container-fluid
        #property-listings
          .row
            .col-md-12
              %h2.all-posts.center-block(style="text-align:center" ng-bind-html="post.title")
                {{post.title}}
              %hr
          .row
