
%aside#sidebar-wrapper
  %ul.list-group
    %li.list-group-item(ng-if="!isDashboard")
      
      %a{:href => "#/dashboard"}
        %i.fa.fa-dashboard.fa-border.fa-2x
    
      
    %li.list-group-item(ng-if="!isNewPost")
      %a(ng-click='reload_and_new()')
        %i.fa.fa-pencil.fa-border.fa-2x

    %li.list-group-item(ng-if="!isNewPost && post.id")
      %a{:href => "/posts/{{post.id}}"}
        %i.fa.fa-bolt.fa-border.fa-2x

    
        

