<!DOCTYPE html>
<html ng-app="admin">
<head>
  <!--<base href="/admin"> -->
  <title>Admin</title>
  <%= stylesheet_link_tag    "admins", media: "all"%>
  <%= javascript_include_tag "admin"%>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>



</body>
</html>
